.header__inner {
    height: 80px;
    background-color: #ffffff;
    position: relative;
}

.header__title {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.header__nav {
    width: 270px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25px;
}

.header__nav--list {
    display: flex;
}

li a {
    text-decoration: none;
    margin-left: 20px;
    color: #000;
}

li a:hover {
    color: blue;
    background-color: #d6d6d6;
}

#current__date {
    margin-top: 50px;
    font-size: medium;
    text-align: center;
}

.attendance__table {
    width: 800px;
    margin: 20px auto;
}

.attendance__table--content {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-top: solid 1px #000;
}

th,
td {
    padding: 15px 10px;
    border-top: solid 0.5px #000;
}

.page__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
    background-color: #d6d6d6;
    gap: 1rem;
}

.pagination {
    display: flex;
}

.pagination a {
    display: inline-block;
    color: blue;
    background-color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 2px;
}

.pagination span {
    line-height: 40px;
}

.pagination a:hover {
    background-color: blue;
    color: white;
}
