body {
    background-color: #d6d6d6;
    height: 800px;
}

.header__inner {
    height: 80px;
    background-color: #ffffff;
    position: relative;
}

.header__title {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.header__nav {
    width: 270px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25px;
}

.header__nav--list {
    display: flex;
}

li a {
    text-decoration: none;
    margin-left: 20px;
    color: #000;
}

li a:hover {
    color: blue;
    background-color: #d6d6d6;
}

.footer__content {
    bottom: 0;
    background-color: #ffffff;
    height: 30px;
    position: relative;
}

.credit__column {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}