.login__title {
    margin-top: 50px;
    font-size: medium;
    text-align: center;
}

.form__content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 200px;
    align-items: center;
    padding: 20px 20px;
}

.form__window {
    height: 150px;
}

.form__group {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 15px 0 15px 0;
}

input {
    box-sizing: border-box;
    vertical-align: top;
    width: 300px;
    max-width: 250px;
    height: 30px;
    background: #d6d6d6;
    border: 1px solid #585858;
    border-radius: 5%;
    padding: 0 15px;
    font-size: 10px;
    color: #333333;
    letter-spacing: .1em;
}

.form__button {
    text-align: center;

}

.form__button--content {
    display: inline-block;
    border-radius: 5%;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    padding: 9px 104.5px;
    background: #1a1aff;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    border: 1px solid #1a1aff;
}

.submit__text {
    text-align: center;
    font-size: 10px;
    color: #585858;
    margin-bottom: 0;
}

.register__link {
    text-decoration: none;
    color: blue;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
}

.register__link :hover {
    color: #fff;
    background-color: blue;
}

.register__link:visited {
    color: #7e0404;
}

