.stamp__title {
    margin-top: 50px;
    font-size: medium;
    text-align: center;
}

.form__window {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

button {
    display: inline-block;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    padding: 80px 130px;
    margin: 10px 10px 10px 10px;
    background: #ffffff;
    color: #000000;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #ffffff;
}

button:hover {
    color: #fff;
    background: #8d8d8d;
}
